.story-image {
  width: 70px;
  height: 70px;
  left: 274px;
  top: 112px;
  align-self: center;
  border-radius: 35px;
  text-align: center;
}
.story-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story-image-container {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}
.posts {
  margin-top: 40px;
  margin-left: 200px;
}


.slider {
  top: 22px;
  margin: 20px;
  margin-left: 200px;
  width: 1040px;
}
@media (max-width: 767px) {
  .story-name {
    font-size: smaller;
  }
  .home-body {
    max-width: fit-content;
  }
  .slider-container {
    padding: 0%;
  }
  .slider {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }
  .posts {
    margin-top: 40px;
    margin-left: 20px;
    width: fit-content;
  }
  .story-loader-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .story-image {
    width: 30px;
    height: 30px;
    left: 274px;
    top: 112px;
    align-self: center;
    border-radius: 35px;
    text-align: center;
  }
  .posts{
    margin: 0px;
  }
}
.slick-next:before {
  color: black;
}
.slick-prev:before {
  color: black;
}
.story-loader-container {
  text-align: center;
  margin-top: 65px;
  margin-left: 200px;
  margin-right: 200px;
}

.home-body {
  width: 100%;
  min-height: 100%;
}
